{% extends "main/base.html" %}

{% block content%} 
    <h5>Welcome to the dashboard page,{{user}}!</h5>
    <hr>
    <a class="btn btn-outline-primary btn-sm" href="{% url "book_create" %}">Add a new book &nbsp; <i class="fa fa-plus-circle" aria-hidden="true"></i></a>
    <hr>
    <table class="table table-light table-hover">
        <thead class="table-dark">
            <tr>
                <th scope="col">ID</th>
                <th scope="col">TITLE</th>
                <th scope="col">AUTHOR</th>
                <th scope="col">QUANTITY REMAINING</th>
                <th scope="col">TOTAL QUANTITY</th>
                <th scope="col">RENTAL FEE</th>

                <th scope="col">View</th>
            </tr>
        </thead>
        <tbody>
        {% if books %}
            {% for book in books %}
            <tr>
                <td>{{book.id}}</td>
                <td>{{book.title}}</td>
                <td>{{book.author}}</td>
                <td>{{book.quantity}}</td>
                <td>{{book.total_quantity}}</td>
                <td>{{book.rental_fee}}</td>

                <td><a href="{% url 'book_detail' book.id %}">Click here</a></td>
            </tr>
            {% endfor %}
        {% endif %}
        </tbody>

    </table>
{% endblock %}