{% extends 'main/base.html' %}

{% block content %}
    <div class="card">
        <strong>
            {{book.title}}
        </strong>
        <div class="card-body">
            <p> <strong>ID: </strong>{{book.id}}</p>

            <p> <strong>Title: </strong>{{book.title}}</p>

            <p> <strong>Author: </strong>{{book.author}}</p>

            <p> <strong>Quantity: </strong>{{book.quantity}}</p>

            <p><strong>Total Quantity: </strong>{{book.total_quantity}}</p>

            <p> <strong>Rental Fee: </strong>{{book.rental_fee}}</p>

        </div>
    </div>
    <br>
    <a href="{% url 'dashboard' %}" class="btn btn-primary">Return</a>
    &nbsp;
    <a href="{% url 'book_update' book.id %}" class="btn btn-info">Update</a>
    &nbsp;
    <a href="{% url 'book_delete' book.id %}" class="btn btn-danger">Delete</a>
  
{% endblock content %}
