{% extends "main/base.html" %}
{% block content %}
   <div class="card">
        <strong>
            {{member.name}}
        </strong>
        <div class="card-body">
            <p><strong>NAME: </strong>{{member.name}}</p>

            <p><strong>PHONE NUMBER: </strong>{{member.phone_number}}</p>

            <p><strong>EMAIL: </strong>{{member.email}}</p>

            <p><strong>RENTAL DEBT: </strong>{{member.rental_debt}}</p>

            <p><strong>DATE JOINED: </strong>{{member.creation_date}}</p>
        </div>
   </div>
   <br>
   <a href="{% url "members" %}" class="btn btn-primary">Return</a>
   &nbsp;
   <a href="{% url "member_update" member.id %}" class="btn btn-info">Edit</a>
   &nbsp;
   <a href="{% url "member_delete" member.id %}" class="btn btn-danger">Delete</a>
{% endblock content %}